{{#> main}}
{{#*inline "title"}}
cuberail.games
{{/inline}}
{{#*inline "content"}}
<h1>Create New Game</h1>
<div class="row">
    <div class="two columns">
        Description
    </div>
    <div class="two columns">
        <input type="text" id="description" />
    </div>
</div>
<div class="row">
    <div class="two columns">
        Game
    </div>
    <div class="two columns">
    <select name="gamename" id="gamename" onchange="createGame_onChange()" >
        {{#each games}}
        <option id="{{id}}" value="{{id}}" data-minPlayers="{{minPlayers}}" data-maxPlayers="{{maxPlayers}}" >{{title}} ({{minPlayers}}-{{maxPlayers}} players)</option>
        {{/each}}
    </select>
    </div>
</div>
<div class="row" id="buttons">
</div>
<div class="row" id="hotseatButtons">
</div>
<div class="row">
    <div class="four columns" id="status">
    </div>
</div>
<script type="text/javascript">
    document.onload = createGame_onLoad();
</script>
{{/inline}}
{{/main}}