<html>

<head>
  <title>{{> title }}</title>
  <meta charset="utf-8" />
  <!-- Version {{state.version}} -->
  <link rel="stylesheet" href="static/css/normalize.css?version={{state.version}}">
  <link rel="stylesheet" href="static/css/skeleton.css?version={{state.version}}">
  <link rel="stylesheet" href="static/css/cuberail.css?version={{state.version}}">
  <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96">
  <script src="static/js/cuberail.js?version={{state.version}}"></script>
  <script type="text/javascript">
    var STATE = {
      username: "{{state.username}}",
    }
  </script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <a href="/">
          <img src="static/img/logo1.svg" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="two columns">
        <a href="about">About</a>
      </div>
      <div class="two columns">
        <a href="lobby">Lobby</a>
      </div>
      {{#if state.loggedin}}
      <div class="four columns u-pull-right">
        Logged in as {{state.username}} (<a href="logout">Logout</a>)
      </div>
      {{else}}
      <div class="two columns u-pull-right">
        <a href="newuser">Register</a>
      </div>
      <div class="two columns u-pull-right">
        <a href="login">Sign in</a>
      </div>
      {{/if}}
    </div>
    {{> content }}
  </div>
</body>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Cantora+One&display=swap" rel="stylesheet">

</html>